<span class="result-name">{{ name }}</span>
<img src="themes/leaflr/images/icons/result-{{ name }}.svg">
<span class="result-value">{{ result }}</span>
<span class="result-measurement">{{ measurement }}</span>
