<h6>Survey Results</h6>
<div class="result-buttons">
	<div class="pledge-results">
		<h5>Pledge Results</h5>
		<p>Pledge your results to the leaflr network</p>
	</div>
	<div class="share-results">
		<h5>Pledge Results</h5>
	</div>
</div>
<div class="survey-results">

</div>
